<div class="container">
  <div class="list-group">
    <div class="list-group-item active">
      <h4 class="list-group-item-heading">User Comments:</h4>
    </div>
    <% @comments.each do |comment| %>

    <div class="list-group-item">
      <h2 class="list-group-item-heading"><%= comment.user.name %> :</h2>
      <p class="list-group-item-text"><%= comment.content %></p>
      <p> <%= time_ago_in_words(comment.created_at) %> ago </p>
    </div>

    <% end %>
  </div>
</div>
<%= render 'comments/form' %>
